@mixin desktop-supported {
    @media not all and (hover: none) {
        @content;
    }
}

// breakpoints
@mixin breakpoint-sm {
    @media (max-width: 575.98px) {
        @content;
    }
}
@mixin breakpoint-md {
    @media (max-width: 767.98px) {
        @content;
    }
}

// project
@mixin background-image($file-name) {
    background: url("../images/" + $file-name) center / cover no-repeat $primary;
}

@mixin small-text($color) {
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: $color;
    font-size: $small;
}