// colors
$primary: linear-gradient(#6448fe to #600594);
$support-light-1: #ffffff;
$support-light-2: #dedddf;
$support-light-3: #8e8593;
$support-dark-1: #21092f;
$error: #ff5252;

// typography
$body: 1.8rem;
$body-sm: 1.6rem;